
.flowtCard{
  background-image: url(../../../../assets/assortment-citrus-fruits.png);
  background-position: 0px;
  background-size: cover;
 
}


.container{
  max-width: 1500px;

}    
        
    
        




