

#OrderBtn:hover #OrderBtnText{
    color: green;
    transition: all 0.3s;
}
#LogoutBtn:hover #LogoutBtnText{
    color: green;
    transition: all 0.3s;
}
#UserinfoBtn:hover #UserInfoBtnText{
    color: green;
    transition: all 0.3s;
}


@media screen and (max-width: 350px) {

.mynavvImg{
    max-width: 90%;
 
    margin-right: 50px;
    margin-left: -16px;
}

}