/* The desktop-first pre-defined media queries: */

/* Phone First */
.HeroSection {
  background-image: url("../../../../../assets/body_bg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  
   
}
.container{

  min-height: 100vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.TextDiv{
  padding: 20px;
  max-width: 700px;
  text-align: center;
  color: white;
}
.TextDiv h1{

  font-size: clamp(1.99rem, 5vw, 3rem);
}
.TextDiv p{
font-size: clamp(0.91rem, 1vw + 10px, 1.15rem);
line-height: 1.6; 
max-width: 70ch;

}



#FreshSpan {
  position: relative;
  background: -o-linear-gradient(
    359deg,
    #76f5bc 4.7%,
    rgb(10, 145, 55) 100.85%,
    #ebeef9 52.07%
  );
  background: linear-gradient(
    91deg,
    #76f5bc 4.7%,
    #0a9137 100.85%,
    #ebeef9 52.07%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#FreshSvg {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin-left: 0;
}

.registerButton {
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 10px 50px;
   position: relative;
  z-index: 5000;
}



/* تستهدف الشاشات من 320px وحتى 350px (مثل iPhone 5/SE القديم) */
@media screen and (max-width: 350px) {

.TextDiv h1{
  
  font-size: 1.5rem;
  margin-bottom: 35px;
}


.TextDiv p{
font-size: 0.7rem;
margin-bottom: 17px;

}

.registerButton {
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 5px 30px;
   position: relative;
  z-index: 5000;
}

}




/* ======================================= */
