
.OurProductsSection{
  height: 100%;
    background-image: url("../../../../assets/body_bg.png" );
  background-size: cover;
  background-position:center;
}



.container{
  max-width: 1400px;

}    
    


.productCard{
 

/* From https://css.glass */
background: rgba(255, 255, 255, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.9px);
-webkit-backdrop-filter: blur(5.9px);
border: 1px solid rgba(255, 255, 255, 0.15);

}



@media screen and (min-width: 768px) {
   .productCard h3{
    font-size: 15px;
  }
}


@media screen and (max-width: 350px) {


  .productCard h3{
    font-size: 12px;
  }
.productCard p{
    font-size: 10px;
  }

}




